# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby
vendor/
.bundle/
Gemfile.lock

# macOS
.DS_Store

# Windows
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Node / NPM
node_modules/
npm-debug.log*
yarn-error.log*
